.img1 {
  width: 100%;
}
.number {
  font-size: 4vw;
  font-weight: bolder;
  color: chocolate;
}
button{
    width: 90%;
    border: none !important;
    background-color: chocolate !important;
}
button a {
    color: black !important;
    text-decoration: none;
}
button a:hover{
    color: chocolate !important;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.527) !important;
}
div {
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 1s;
  }
  
  @keyframes example {
    0%   { right:100%; top:0px;}
    100% { right:0px; top:0px;}
  }